ion-modal {
  ion-backdrop {
    opacity: 0.8 !important;
  }
    // background: rgba(0,0,0,0.8);
}
page-prepara {
  &.ion-page {
    margin: 20px 20px 25px 20px;
    width: calc(100% - 40px);
    height: calc(100% - 45px);
  }
  .header {
    background-color: #0055a5;
    > .toolbar {
      background-color: #0055a5;
      // float: right;
      // width: auto;
      
    }
    > .list {

      background-color: #0055a5;
      padding: 15px 0;
      float: left;
      box-sizing: border-box;
      margin-bottom: 0;
      
    }
    .controle-buttons {
      position: absolute;
      top: 10px;
      right: 0;
    }
    .item {
      padding-bottom: 10px;
        h2 {
          font-size: 25px;
        }
        .label {
          margin-bottom: 0;
          margin-right: 0;
        }
      }
    .settings-title {
      background-color: #0055a5;
      color: map-get($colors, secondary);
      .icon {
        font-size: 35px;
      }
      p {
        color: #fff;
      }
    }
  }
  .content {
      background-color: #0055a5;
      color: #fff;
      h1,h2,h3,h4,h5,h6 {
        color: map-get($colors, secondary);
      }

.btn-ingredients {
    position: absolute;
    left: 20px;
    top: 20px;
}


      .timer-button {
    width: 150px;
    height: 150px;
    padding: 5px;
    margin: 0 auto;
    border-radius: 50%;
    // background-color: map-get($colors, secondary);
    font-size: 4.2rem;
    position: relative;

        }
     .timer-button .timer-inner {
             border-bottom: none;
    width:140px;
    height: 140px;
    background-color: #0055a5;
    border-radius: 50%;
        display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;

}
  .btn-action {
    background-color: #f10986;
    text-align: center;
    margin: 0 auto;
    display: block;
  }

  }

ion-spinner {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
ion-spinner * {
  width: 28px;
  height: 28px;
  stroke: map-get($colors,secondary);
  fill: #222;
  fill: map-get($colors,secondary);
}

.sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.sk-circle .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: map-get($colors, secondary);
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
          animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg); }
.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg); }
.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg); }
.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg); }
.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg); }
.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg); }
.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg); }
.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg); }
.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg); }
.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg); }
.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; }
.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; }
.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; }
.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; }
.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s; }
.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s; }
.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s; }
.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s; }
.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s; }
.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s; }
.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
}
