<ion-header color="primary">
  <ion-navbar color="primary">
    <ion-item  class="settings-title" text-wrap no-lines start>
      <h2>{{recipe.title}}</h2>
      <p>¿Ya tienes todos los ingredientes listos?</p>
      <p>Puedes revisar los ingredientes haciendo click en el botón. </p>
    </ion-item>
    <ion-buttons end class="controle-buttons">
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <a class="btn-ingredients" (click)="showIngredients()">
    <img src="assets/icon/ingredients.png" width="50">
  </a>
  <timer #timer [timeInSeconds]="90" [shouldShowControls]="false" [pause]="pause" [step]="currentStepCount" (onTimerEnd)="nextStep()"></timer>
  <div *ngIf="!currentStep"> 
    <h1 class="big">Empecemos</h1>
    <p>
      Inicia el temporizador de tu Olla en 45 minutos y cuando esté listo, toca el botón iniciar en la parte inferior de la pantalla.
    </p>
    <p>
      Conforme pase el tiempo, te iremos indicando que debes hacer y te avisaremos cuando tu receta esté lista.
    </p>
  </div>
  <div *ngIf="currentStep" >
    <h2>{{currentPreparation.name}}</h2>
    <p>Duración: {{stepDuration}} minutos</p>
    <h3>Paso: {{currentStepCount}}</h3>
    <p>
      {{currentStep.content}}
    </p>
  </div>
  <button ion-button icon-right class="btn-action" (click)="startStop()">
    <span *ngIf="!timer.timer || !timer.timer.hasStarted">Iniciar</span>
    <span *ngIf="timer.timer && timer.timer.hasStarted && !timer.timer.runTimer">Continuar</span>
    <span *ngIf="timer.timer && timer.timer.hasStarted && timer.timer.runTimer">Pausar</span>
    <ion-icon name="{{((timer.timer && !timer.timer.runTimer) || (timer.timer && !timer.timer.hasStarted))? 'play':'pause'}}"></ion-icon>
  </button>

</ion-content>
