<!-- Generated template for the RecipePreview component -->

<div swing-stack #myswing1 class="stack" [stackConfig]="stackConfig">
  <div swing-card #mycards1 *ngFor="let card of cards">
    <ion-card class="recipe-details-card">
      <div class="recipe-details-wrapper">
        <ion-item>
          <h2 class="card-title">{{card.title}}</h2>
          <p></p>
        </ion-item>
        <div class="recipe-img-wrapper">
          <img src="{{card.img}}" />
          <div class="img-status-icons">
            <div class="status prepared">
              <ion-icon name="checkmark"></ion-icon>
            </div>
            <div class="status favorite" (click)="setFavorite()" [class.is-active]="isFavorite">
              <ion-icon name="star"></ion-icon>
            </div>
          </div>
          <div class="duration-wrapper">
            {{card.preparationTime}}
            <span class="units">min</span>
          </div>
        </div>
        
        <!-- <ion-card-content>
      <ion-card-title>
        {{card.title}}
        </ion-card-title>
      <div  [innerHTML]="card.content">

      </div>
    </ion-card-content> -->

        <ion-row class="recipe-card-actions">
          <ion-col text-left>
            <button ion-button icon-left clear small class="recipe-action favorite" (click)="dismiss()">
            <ion-icon name="undo"></ion-icon>
            <div>Para despues</div>
          </button>
          </ion-col>

          <ion-col text-right>
            <button ion-button icon-right clear small class="recipe-action prepare" (click)="prepare()">
            <div>preparar</div>
            <ion-icon name="play"></ion-icon>
          </button>
          </ion-col>
        </ion-row>
      </div>
      <div (click)="toggleGroup(0)" [ngClass]="{active: isGroupShown(0)}" class="ingredients-wrapper">
        <h3>
          Ingredientes
          <ion-icon color="success" item-right [name]="isGroupShown(0) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
        </h3>
        <div *ngIf="isGroupShown(0)">
          <div padding *ngFor="let preparation of recipe.preparations" >
            <h2>Receta: {{preparation.name}}</h2>
            <h3>Ingredientes</h3>
            <ul>
              <li *ngFor="let ingredient of preparation.ingredients" >
                {{ingredient.quantity}} {{ingredient.units.display_name}} de {{ingredient.name}}
              </li>
            </ul>

          </div>
        </div>
      </div>
      <div class="share-buttons">
        Comparte esta receta en:
        <div right class="right">
          <button clear ion-button icon-only (click)="share('facebook')" class="facebook">
          <ion-icon name="logo-facebook"></ion-icon>
        </button>
          <button clear ion-button icon-only (click)="share('twitter')" class="twitter">
          <ion-icon name="logo-twitter"></ion-icon>
        </button>
          <button clear ion-button icon-only (click)="share('whatsapp')" class="whatsapp">
          <ion-icon name="logo-whatsapp"></ion-icon>
        </button>
          <button clear ion-button icon-only (click)="share('email')" class="email">
          <ion-icon name="mail"></ion-icon>
        </button>
          <button clear ion-button icon-only (click)="share()" class="share">
          <ion-icon name="send"></ion-icon>
        </button>
        </div>
      </div>
    </ion-card>
  </div>

</div>