recipe-preview {
    // width: 45%;
    width: 100%;
    display:  inline-block;
    float: left;
    @media(min-width: 600px) {
      width: 50%;
    }
    @media(min-width: 768px) {
      width: 33.33%;
    }
    @media(min-width: 1200px) {
      width: 25%;
    }
    .card {
      position: relative;
      width: calc(100% - 20px);
      margin: 10px 10px;
      .card-img-wrapper {
        position: relative;
        overflow: visible;
        margin-bottom: 20px;
      }
      .cover {
        width: 100%;
        height: 0;
        padding-bottom: 55%;
      }
      .duration-wrapper {
        position: absolute;
        top: 10px;
        left: 10px;
        background: url('../assets/icon/time-wrapper.png') no-repeat center center;
        background-size: contain;
        color: #fff;
        padding: 10px 0;
        text-align: center;
        width: 30px;
      }
      .card-title {
        color: #0055a5;
        font-size: 15px;
        line-height: 17px;
      }
      .recipe-status-wrapper {
        position: absolute;
        width: 100%;
        bottom: 0;
        height: 30px;
        margin-bottom: -15px;
        left: 0;
        padding: 0 20px;
        .status {
          margin: 5px;
          display: inline-block;
          border-radius: 50%;
          color: #b9b9b9;
          background-color: #e0e0e0;
          width: 20px;
          height: 20px;
          line-height: 20px;
          text-align: center;
          ion-icon {
            line-height: 20px;
          }
        }

      }
      .btn-action {
        position: absolute;
        bottom: 0;
        right: 22px;
        margin-bottom: -28px;
        border: solid 4px #fff;
        background-color: #f30988;
      }
      .recipe-info-wrapper {
        color: #afafaf;
        font-size: 12px;
        font-weight: 100;
        .cals:before {
          content: '';
          width: 1.8em;
          height: 1.8em;
          display: inline-block;
          background: url(../assets/icon/balance.png) no-repeat center center;
          margin: 0 0.3em -0.4em 0;
          background-size: contain;
        }
        .col:first-child {
          padding-left: 0;
        }
        .col:last-child {
          padding-right: 0;
        }
      }
      // width: calc(50% - 20px);

    }
  }
