<!-- Generated template for the RecipePreview component -->


<ion-card  (click)="view($event)">
  <!-- <ion-img class="cover" [src]="recipe.img"></ion-img> -->
  <div class="card-img-wrapper">
    <!-- <img-loader src="{{recipe.img}}" useImg></img-loader> -->
    <img src="{{recipe.img}}" />
    <div class="duration-wrapper">
      {{recipe.preparationTime}}
    </div>
    <div class="recipe-status-wrapper">
      <div class="left">
        <div class="status prepared active">
          <ion-icon name="checkmark"></ion-icon>
        </div>
        <div class="status favorite active">
          <ion-icon name="star"></ion-icon>
        </div>
      </div>
      <div class="right">
      </div>
    </div>
    <button class="btn-action" ion-fab (click)="prepare($event)" >
      <ion-icon name="play"></ion-icon>
    </button>

  </div>
  <ion-card-content>
    <div class="card-title">{{recipe.title}}</div>
    <!-- Add card content here! -->
    <ion-row class="recipe-info-wrapper">
      <ion-col><span class="cals">{{recipe.cals}} cals</span></ion-col>
      <ion-col><span class="portions">{{recipe.portions}} porciones</span></ion-col>
    </ion-row>
  </ion-card-content>


  <!-- <span class="cals">{{recipe.cals}}</span><span class="portions">{{recipe.portions}}</span> -->

</ion-card>
