page-login {
  .content-wrapper {
    max-width: 600px;
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;

  }
  #login-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: space-between;
    .onboarding {
      height: auto;
      align-self: flex-start;
    }

    #login-buttons-wrapper {
      margin: 0 auto;
      max-width: 480px;
      width: 100%;
      align-self: flex-end;
    }
  }
  .fb-login-button {
    background-color: #3b5998;
    color: #fff;
    border-color: rgba(0,0,0,0.2);
    &:hover {
      background-color: #2d4373;
    }
  }
  .footer {
    background-color: #fdfdfd;
  }
}
