<!--
  Generated template for the Login page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header color="primary">

  <ion-navbar color="primary">
    <ion-title center text-center><img [src]="'assets/img/logo-universal.png'" /></ion-title>
  </ion-navbar>

  <ion-toolbar color="primary">
    <ion-segment [(ngModel)]="showForm" color="secondary">
      <ion-segment-button value="registration">
        Crear Cuenta
      </ion-segment-button>
      <ion-segment-button value="login">
        Iniciar Sesión
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>


<ion-content padding>
  <div class="content-wrapper">

    <div [ngSwitch]="showForm">
      <div *ngSwitchCase="'registration'">
          <register-form (onError)="showError($event)"></register-form>
      </div> 

      <div *ngSwitchCase="'login'">
        <login-form (onError)="showError($event)"></login-form>
      </div>
    </div>
    <div padding class="crossed separator">
      <span>ó también puedes</span>
    </div>
    <button ion-button block icon-left class="fb-login-button" (click)="fbLogin()">
      <ion-icon name="logo-facebook"></ion-icon>
      Ingresar con facebook
    </button>
    <div class="text-center" padding>
      <ng-template [ngIf]="showForm=='login'">
        ¿No tienes una cuenta? <em><a (click)="toggleForm()">Regístrate aquí</a></em>
      </ng-template>
      <ng-template [ngIf]="showForm=='registration'">
        ¿Ya tienes una cuenta? <em><a (click)="toggleForm()">Ingresa aquí</a></em>

      </ng-template>
    </div>
  </div>


</ion-content>

<ion-footer>
  <p class="text-center">
    Al continuar estás aceptando nuestros <br>
    <a (click)="showPage('https://www.hogaruniversal.com/terminos-y-condiciones')">Términos y condiciones</a> y <a (click)="showPage('https://www.hogaruniversal.com/politicas')">Políticas de privacidad.</a>
  </p>
</ion-footer>
