page-recipe-details {
	.recipe-details-card {
		max-width: 600px;
		margin: 10px auto;
		box-shadow: none;
		.card-title {
			font-size: 30px;
			color: #0055a5;
			white-space: normal;
		}

		.recipe-img-wrapper {
			position: relative;
			overflow: visible;
			.duration-wrapper {
				position: absolute; 
				bottom: 0; 
				left: 50%;
				margin-left: -35px;
				margin-bottom: -15px;
				width: 70px;
				height: 70px;
				line-height: 17px;
				padding-top: 20px;
				background: url('../assets/img/bg-timer-badge.png') no-repeat center center;
        		background-size: contain;
        		color: #f30988;
        		font-size: 35px;
        		text-align: center;
        		z-index: 2;
        		box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        		overflow: visible;
        		border-radius: 50%;
        		.units {
        			font-size: 16px;
        		}
			}
		}

		.img-status-icons {
			position: absolute;
			top: -13px;
			right: 25px;
			.status {
				display: inline-block;
				margin: 0 4px;
				border-radius: 50%;
				background-color: #000;
				color: #fff;
				width: 26px;
				height: 26px;
				line-height: 26px;
				text-align: center;
				opacity: 0.6;
				&.is-active {
					opacity: 1;
				}
				.icon {
					line-height: 26px;
				}
				&.favorite {
					background-color: #bebebe;
					&.is-active {
						background-color: #0055a5;
					}
				}
				&.prepared {
					background-color: #d4e106;
				}
			}
		}

		.recipe-details-wrapper {
			position: relative;
			box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.12);
			border-bottom-right-radius: 15px;
			border-bottom-left-radius: 15px;
			background-color: #f2f2f2;
			z-index: 1;
			overflow: hidden;
		}
		.ingredients-wrapper {
			width: calc(100% - 30px);
			margin: 0 15px;
			background-color: #f7f7f7;
			// border-bottom-right-radius: 15px;
			// border-bottom-left-radius: 15px;
			z-index: 2;
			position: relative;
			h3 {
				padding: 10px 20px;
				margin: 0;
				.icon {
					float: right;
				}
			}
		}
		.recipe-action {
			color: #fff;
			margin: 0;
			padding: 20px;
			width: 100%;
			border-radius: 0;
		}
		.recipe-action.favorite {
			background-color: #491e4a;
		}
		.recipe-action.prepare  {
			background-color: #f30988;
		}

		.recipe-card-actions .col {
			padding: 0;
			margin: 0;
		}
	}

}

.share-buttons {
	.button.whatsapp {
		color: #25D366;
	}
	.button.facebook {
		color: #3b5998;
	}
	.button.twitter {
		color: #00aced;
	}
	.button {
		.icon {
			padding: 0 0.3em;
		}
	}
}