<!--
  Generated template for the RecipeDetails page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header color="primary">

  <ion-navbar color="primary">
    <ion-title>Receta</ion-title>
    <!-- <ion-buttons end>
      <button clear icon-only ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>


</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Baja para recargar..." refreshingSpinner="circles" refreshingText="Cargando...">
    </ion-refresher-content>
  </ion-refresher>
  <div>
    <recipe-details [recipe]="recipe" (onDismiss)="onDismiss()" (onPrepare)="onPrepare()"  #details></recipe-details>
  </div>
</ion-content>