<!-- Generated template for the ProfileComponent component -->
<div class="profile-component">
  <div class="profile-preview-status" *ngIf="!user || !user.profile">
    <div *ngIf="loading">
      <ion-spinner></ion-spinner> Cargando
    </div>
    <p> Error al intentar obtener los datos del usuario.</p>
  </div>
  <div class="profile-wrapper" *ngIf="user && user.profile">
    <div class="avatar-wrapper">
      <div class="avatar">
        <img src="{{user.profile.avatar? user.profile.avatar : 'assets/img/avatar_'+user.profile.gender+'.png'}}" />
      </div>
    </div>
    <div class="name-wrapper">
      {{user.profile.firstname}} {{user.profile.lastname}}
    </div>
    <div class="status-wrapper" *ngIf="user.prepared">
      {{user.prepared.length}} recetas preparadas
    </div>
    <div class="country-wrapper">
      <ion-icon name="pin"></ion-icon> {{user.profile.country == 'co'? 'Colombia': user.profile.country == 'hn'? 'Honduras':user.profile.country }}
    </div>
  </div>
  


</div>
