profile-edit {

}
profile-preview {

}
.user-menu {
    .header {
        box-shadow: none;
        &:after {
            display: none;
        }
    }
    .content {
        &:before {
            background-color: #0055a5;
            width: 100%;
            height: 125px;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
        }
        .scroll-content {
            padding-top: 0;
            background-color: transparent;
            border: none;
        }
        .list, .item {
            background-color: transparent;
            color: #fff;
            .icon {
                color: #d4e106;
            }
        }
    }
    
}



.profile-component {

    .profile-wrapper {
        // padding-top: 60px;
        margin-bottom: 50px;
    }
    .avatar-wrapper {
        // position: absolute; 
        // width: calc(100% - 30px);
        // top: -70px;
        .avatar {
            text-align: center;
            img {
                max-width: 128px;
                border-radius: 50%;
            }
        }
    }
    .name-wrapper {
        text-align: center;
        color: #d4e106;
        font-size: 30px;
        font-weight: 100;
        letter-spacing: -1px;
    }
    .country-wrapper {
        font-size: 14px;
        color: #0054a3;
        text-align: center;
    }
    .status-wrapper {
        text-align: center;
        color: #fff;
        margin-bottom: 2px;
        font-size: 14px;
    }
    
}