<!--
  Generated template for the DemoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>demo-page</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  Hola {{name}}

  <ion-item>
    <ion-label fixed>Nombre</ion-label>
    <ion-input type="text" [(ngModel)]="name"></ion-input>
  </ion-item>
</ion-content>
