page-profile {
    .header {
        &:after {
            display: none;
        }
        .toolbar {
            .toolbar-background {
                border: none;
            }
        }
    }
    .content[padding] {
        &:before {
            background-color: #0055a5;
            width: 100%;
            height: 125px;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
        }
        .scroll-content {
            padding-top: 0;
            border: none;
        }
    }
    .avatar-wrapper .avatar {
        text-align: center;
        width: 128px;
        margin: 0 auto;
        display: block;
        position: relative;
        img {
            max-width: 128px;
        }
        .edit-button {
            position: absolute; 
            top: 0;
            right: -10px;
            color: #fff;
            font-size: 10px;
            :after {
                content: '  editar';
            }
            .icon {
                font-size: 1.2em;
            }
        }
    }
}






