<!--
  Generated template for the Profile page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-buttons end>
      <button clear icon-only ion-button (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="avatar-wrapper">
    <div class="avatar" (click)="getAvatar()">
      <img src="{{user.profile.avatar? user.profile.avatar : 'assets/img/avatar_'+user.profile.gender+'.png'}}" />
      <div class="edit-button">
        <ion-icon ios="md-create" md="md-create"></ion-icon>
      </div>
    </div>
  </div>
  <form [formGroup]="profileForm" (ngSubmit)="update(profileForm.value)" class="unv-form" novalidate>
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-item>
          <ion-label floating>Nombre</ion-label>
          <ion-input type="text" formControlName="firstname"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item>
          <ion-label floating>Apellido</ion-label>
          <ion-input type="text" formControlName="lastname"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label floating>Correo</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-5>
        <ion-item>
          <ion-label floating>Género</ion-label>
          <ion-select formControlName="gender">
            <!-- <ion-option value="">Género</ion-option> -->
            <ion-option value="f">Mujer</ion-option>
            <ion-option value="m">Hombre</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col col-7>
        <ion-item>
          <ion-label floating>País</ion-label>
          <ion-select formControlName="country">
            <ion-option value="co">Colombia</ion-option>
            <ion-option value="hn">Honduras</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Cumpleaños</ion-label>
          <ion-datetime cancelText="{{'CANCEL' | translate}}" doneText="{{'DONE' | translate }}" displayFormat="D MMMM" pickerFormat="DD MMMM YYYY" formControlName="birthday"></ion-datetime>
        </ion-item>
        
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div padding>
          <button block ion-button icon-left type="submit" [disabled]="profileForm.invalid" color="secondary" class="btn-universal">
            <ion-icon name="checkmark"></ion-icon>
            Confirmar Cambios
          </button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>

</ion-content>
