<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header color="primary" >
  <ion-navbar color="primary" end>
    <ion-item  class="settings-title" text-wrap no-lines start>
      <ion-avatar item-start>
        <ion-icon name="options"></ion-icon>
      </ion-avatar>
      <h2>Preferencias</h2>
      <p>Configura diferentes opciones generales para las recetas que quieres ver.</p>
    </ion-item>
    <ion-buttons end>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list *ngIf="settings.parameters" >
    <div *ngFor="let item of settings.parameters">
      <ion-item class="title">
        {{item.name}}
        <ion-badge item-end>{{item.value}}</ion-badge>
      </ion-item>
      <ion-item  no-lines>
        <ion-range pin="true" min="{{item.range[0]}}" max="{{item.range[1]}}" [(ngModel)]="item.value" color="secondary">
          <ion-label range-left>{{item.range[0]}} {{item.units}}</ion-label>
          <ion-label range-right>{{item.range[1]}} {{item.units}}</ion-label>
        </ion-range>
      </ion-item>
    </div>
    
  </ion-list>
  <ion-list *ngIf="settings.categories" >
    <ion-item>
      <ion-label class="title">Tipo de Cocina</ion-label>
    </ion-item>
    <ion-item *ngFor="let item of settings.categories" >
      <ion-label class="toggle-label">{{item.name}}</ion-label>
      <ion-toggle [(ngModel)]="item.isEnabled" color="secondary"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
