page-settings {
  .header {
    background-color: #0055a5;
    > .toolbar {
      background-color: #0055a5;
      // float: right;
      // width: auto;
    }
    > .list {

      background-color: #0055a5;
      padding: 15px 0;
      float: left;
      box-sizing: border-box;
      margin-bottom: 0;
      
    }
    .item {
      padding-bottom: 10px;
        h2 {
          font-size: 25px;
        }
        .label {
          margin-bottom: 0;
        }
      }
    .settings-title {
      background-color: #0055a5;
      color: map-get($colors, secondary);
      .icon {
        font-size: 35px;
      }
      p {
        color: #fff;
      }
    }
  }
  .content {
      background-color: #002a52;
      .item {
        background-color: transparent;
        border: none;
        border-color: transparent;
        padding-left: 0;
        &.item-block {
          border: none;
          .item-inner {
            border: none;
          }
        }
        border: 0;
        &.title .label{
          font-size: 19px;
          color: #fff;
          text-align: left;
          margin: 10px 0 0 0;
          align-self: flex-start;
        }
        .range {
          padding-right: 0;
          padding-left: 16px;
          padding-bottom: 25px;
          padding-top: 0;
          .label{
            margin: 0;
            align-self: center;
            &[range-left] {
              color: #006bd0;
              font-size: 12px;
              position: absolute; 
              top: 48px;
            }
            &[range-right] {
              color: #d4e106;
              font-size: 16px;
              margin-left: 5px;
            }
          }
          .range-knob-handle {
            width: 26px;
            margin-top: -13px;
            margin-left: -13px;
            .range-knob {
              background-color: map-get($colors, secondary);
              top: 2px;
              left: 2px;
              width: 22px;
              height: 22px;
            }
          }
        }
        &.item-toggle {
          color: map-get($colors, secondary);
          .label {
            font-size: 20px;
            padding-left: 10px;
          }
        }
      }
  }
}
