<ion-content>
  <ion-list>
      <ion-list-header>Categorías</ion-list-header>
      <!-- <button *ngFor="let category of categories"  ion-item (click)="selectCategory()">{{category}}</button> -->

      <ion-item *ngFor="let f of filters">
        <ion-label>{{f.title}}</ion-label>
        <ion-checkbox color="dark"  [(ngModel)]="f.checked"></ion-checkbox>
      </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>País</ion-list-header>
    <ion-item *ngFor="let f of countries">
      <ion-label>{{f.title}}</ion-label>
      <ion-checkbox color="dark"  [(ngModel)]="f.checked"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
