<ion-header color="primary">

  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only menuToggle="left">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title><img [src]="'assets/img/logo-universal.png'" /></ion-title>
    <!-- <ion-buttons end>
      <button ion-button ion-button menuToggle="right">
        <ion-icon name="funnel"></ion-icon>
      </button>
    </ion-buttons> -->
    <ion-buttons end>
      <button ion-button icon-only (click)="toggleSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button icon-only (click)="showSettings()" style="display: inline-block;">
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar color="primary">
    <!-- <ion-buttons end>
      <button icon-only ion-button>
        <ion-icon name="search" aria-label="search"></ion-icon>
      </button>
    </ion-buttons> -->
    <ion-segment [(ngModel)]="recipeType" (ngModelChange)="recipeTypeChanged()" color="secondary">
      <ion-segment-button value="mine">
        <ion-icon name="cooking-pot"></ion-icon>
        Mis Recetas
      </ion-segment-button>
      <ion-segment-button value="top">
        Mejores Recetas
      </ion-segment-button>
      <ion-segment-button value="all">
        Recomendadas
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar color="primary" *ngIf="shouldShowSearch">
    <ion-searchbar (ionInput)="searchItems($event)"></ion-searchbar>
  </ion-toolbar>
  <!-- <div class="recipes-wrapper-wrapper"> -->

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Baja para recargar..." refreshingSpinner="circles" refreshingText="Cargando...">
    </ion-refresher-content>
  </ion-refresher>
  <div *ngIf="recipes?.length > 0">
    <div class="recipes-header-wrapper" [ngSwitch]="recipeType">
      <div *ngSwitchCase="'mine'">
        <div class="header {{recipeType}}">
          Estas son tus recetas
        </div>
        <div class="text">
          Acá podrás ver todas las recetas que ya has preparado y también seleccionar las que agregaste a tus favoritas.
        </div>
        <div class="filters">
          <button ion-button icon-start [class.is-current-filter]="currentFilter=='prepared'" class="prepared" (click)="toggleFilter('prepared');">
            <ion-icon name="checkmark"></ion-icon>
            Ya preparadas
          </button>
          <button ion-button icon-start [class.is-current-filter]="currentFilter=='favorites'" class="favorites" (click)="toggleFilter('favorites');">
            <ion-icon name="star"></ion-icon>
            Mis Favoritas
          </button>
        </div>
      </div>
      <div *ngSwitchCase="'top'">
        <div class="header {{recipeType}}">
          Las mejores recetas
        </div>
        <div class="text">
          Nuestros usuarios aman preparar estas deliciosas recetas, a continuación te mostraremos las mejores.
        </div>
        <div class="filters">
          <button ion-button icon-start [class.is-current-filter]="currentFilter=='top-prepared'" class="prepared" (click)="toggleFilter('top-prepared');">
            <ion-icon name="checkmark"></ion-icon>
            Ya preparadas
          </button>
          <button ion-button icon-start [class.is-current-filter]="currentFilter=='favorites'" class="favorites" (click)="toggleFilter('favorites');">
            <ion-icon name="star"></ion-icon>
            Mis Favoritas
          </button>
          <button ion-button icon-start [class.is-current-filter]="currentFilter=='top-views'" (click)="toggleFilter('top-views');">
            <ion-icon name="eye"></ion-icon>
            Más Vistas
          </button>
        </div>
      </div>
      <div *ngSwitchCase="'all'">
        <div class="header {{recipeType}}">
          Descubre recetas para tí
        </div>
        <div class="text">
          Te recomendamos recetas que te van a encantar, puedes verlas en aleatorio o repasar de nuevo las que dejaste para después.
        </div>
        <div class="filters">
          <button ion-button icon-start  class="random" (click)="showRandom();">
            <ion-icon name="shuffle"></ion-icon>
            Modo aleatorio
          </button>
          <button ion-button icon-start [class.is-current-filter]="currentFilter=='dismissed'" class="dismissed" (click)="toggleFilter('dismissed');">
            <ion-icon name="undo"></ion-icon>
            Para después
          </button>
        </div>
      </div>
    </div>
    <span class="recipes-wrapper" *ngFor="let recipe of recipes">
      <recipe-preview [recipe]="recipe" (onSelect)="showDetails($event)" (onPrepare)="prepare($event)"></recipe-preview>
    </span>
  </div>
  <div *ngIf="recipes?.length == 0">
    <div class="recipes-header-wrapper">
      <div class="title">:( No encontramos lo que estás buscando</div>
      <div class="text">Te invitamos a ver nuestras recetas recomendadas</div>
      <div class="filters">
        <button ion-button (click)="toggleFilter('')">Reiniciar filtros</button>
        <button ion-button icon-start class="dismissed" (click)="toggleFilter('dismissed')">
          <ion-icon name="undo"></ion-icon>Ver recetas descartadas</button>
      </div>
    </div>
  </div>
</ion-content>