page-recipe {

  .portions {
      float: right;
  }
  .no-padding {
    padding: 0;
    .label {
      margin:5px 5px 0 5px;
    }
  }

  .toolbar .segment-md .segment-button .icon {
    display: none;
  }
  .toolbar .segment-md .segment-button.segment-activated .icon {
    display: inline-block;
  }

  .recipes-header-wrapper {
    padding: 15px 30px 5px 30px;
    text-align: center;
    .header {
      font-size: 30px;
      color: #0055a5;
      line-height: 1em;
      margin-bottom: 10px;
      // padding-left: 60px;
      // background: no-repeat left center;
      // background-size: contain;
      &:before {
        content: '';
        width: 45px;
        height: 45px;
        background: no-repeat left center;
        background-size: contain;
        float: left;
      }
      &.top:before {
        background-image: url(../assets/img/list-top.png);
      }
      &.mine:before {
        background-image: url(../assets/img/list-mine.png);
      }
      &.all:before {
        background-image: url(../assets/img/list-recomendations.png);
      }
    }
 

    .filters {
      margin-top: 10px;
      .button {
        font-size: 13px;
        opacity: 0.6;
        &.is-current-filter {
          opacity: 1;
        }
        &.random {
          background-color: #9d1de0;
        }
        &.dismissed {
            background-color: #491e4a;
        }
        &.favorites {
            background-color: #0055a5;
        }
        &.top {
            background-color: #9d1de0;
        }
        &.prepared {
            background-color: #d4e106;
        }
        .button-inner .icon {
            margin-right: 10px;
        }
      }
    }

  }
}

.md, .android {
  page-recipe {
    ion-toolbar.toolbar {
      padding: 0;
      width: 100%;
      .label {
        margin:5px 5px 0 5px;
      }
    }
  }
  .segment {
    .segment-button {
      font-size: 11px;
    }
  }
}
