<!--
  Generated template for the Walkthrough page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header >
  <ion-navbar color="primary" >
    <ion-title><img [src]="'assets/img/logo-universal.png'" /></ion-title>
    <ion-buttons end>
      <button ion-button color="secondary" (click)="skip()" [hidden]="isLastIndex()">{{'SKIP' | translate}}</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-bounce class=" tutorial-page primary-bg">
  <onboarding [slides]="walkthrough" (onExit)="start()" (onSlideChange)="slideChanged($event)" #onboarding></onboarding>
</ion-content>
