// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.text-center {
  text-align: center;
}
.primary-bg {
  background-color:   map-get($colors, primary);
  color: #fff;
}
.logo-container {
  padding: 10px 0;
  text-align: center;
}
.title-unv {
  font-family: "Corporate Rounded";
  font-size: 51px;
  font-weight: 600;
  color: map-get($colors, secondary);
}
.btn-universal {
  background-color: map-get($colors, secondary);
  color: map-get($colors, primary);
  text-transform: uppercase;
  .button-inner {
    color: map-get($colors, primary);
  }
}
.swiper-pagination-bullet-active {
  background-color: map-get($colors, secondary);
}

.crossed.separator {
  text-align: center;
  position: relative;
  width: 100%;
  &:before {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #000;
    content: '';
  }
  span {
    background: #fff;
    position: relative;
    padding: 0 5px;
  }
}
.md, .android {
  ion-toolbar.toolbar {
    min-height: 0;
    padding-bottom: 0;
  }
}
.footer {
  p {
    font-size: 13px;
    a {
      color: #ff6393;
      text-decoration: none;
    }
  }
}
.md, .ios, .android {

  ion-alert {
    &.password-recovery {
      .alert-head {
        padding-top: 55px;
        padding-right: 10px;
        background-position: top right;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url('../assets/img/pass-recovery.png');
      }
    }
  }
  .alert-wrapper {
    background-color: map-get($colors, primary);
    color: #fff;
  }
  .alert-title {
    color: map-get($colors, secondary);
    font-weight: normal;
    font-family: 'Corporate Rounded';
    font-size: 1.9em;
    line-height: 1.1em;
    text-align: left;
  }
  .alert-input {
    color: #fff;
    &:focus {
      border-bottom: 2px solid map-get($colors, secondary);
    }
  }
  .alert-sub-title {
    color: #fff;
  }
  .alert-message {
    text-align: left;
    color: #fff;
  }
  .alert-button {
    border: none;
    color: map-get($colors, primary);
    &.alert-button-default {
      background-color: map-get($colors, secondary);
    }
  }
  .alert-radio-group {
      background-color: #FFF;
  }
  .label {
    margin-top: 0;
  }
}
.ios {
  .alert-input {
    color: #333;
  }
}

.icon.ion-md-cooking-pot,
.icon.ion-ios-cooking-pot {
    width: 1em;
    height: 100%;
    float: left;
    margin-right: 5px;
    background: url('../assets/icon/cooking-pot.png') no-repeat center center;
    background-size: contain;
}


ion-menu {
  .header {
    background-color: #0055a5;
    // padding-bottom: 50px;
    .button {
      color: #fff;
    }
    .toolbar {
      .toolbar-background {
          border: none;
      }
    }
  }
  .content {
    background-color: #002a52;
  }
  .footer {
    background-color: #002a52;
    .toolbar-background {
        background-color: #002a52;
    }
  }
}