<!-- <ion-split-pane> -->

<ion-menu side="left" [content]="userMenu" class="user-menu" id="userMenu">
  <ion-header class="bar-assertive">
    <ion-buttons end>
      <button clear icon-only ion-button menuClose>
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-header>
  <ion-content padding>
    <ion-refresher (ionRefresh)="refreshProfile($event)">
      <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Baja para recargar..." refreshingSpinner="circles" refreshingText="Cargando...">
      </ion-refresher-content>
    </ion-refresher>
    <div class="profile-preview-wrapper" *ngIf="isLoggedIn">
      <profile-preview #profilePreview></profile-preview>

      <ion-list no-lines>
        <button ion-item menuClose (click)="profileEdit()">
        Editar Perfil
        <ion-icon name="arrow-forward" item-end></ion-icon>
      </button>
      </ion-list>

    </div>

  </ion-content>
  <ion-footer>
    <ion-toolbar>
      <button ion-button icon-left clear color="secondary" full menuClose (click)="logout()">
        <ion-icon name="exit"></ion-icon>
        {{ 'LOGOUT' | translate }}
      </button>
    </ion-toolbar>
  </ion-footer>
</ion-menu>


<ion-nav #userMenu main [root]="rootPage"></ion-nav>

<!-- </ion-split-pane> -->