.onboarding-content {

  width: 100%;
  height: 100%;
  min-height: 100%;

  .toolbar-background {
    // background: #fff;
    // border-color: transparent;
  }
  .toolbar {
    .bar-button {
      color: #fff;
    }
  }
  .swiper-slide {
    flex-flow: column wrap;
    justify-content: space-around;
  }
  .slide-content {
    max-width: 500px;
    margin: 0 auto;
    padding-bottom: 50px !important;
  }
  .slide-zoom {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
  }
  .slide-title {
    // margin-top: 2.8rem;
    font-size: 30px;
    line-height: 1em;
    font-family: "Corporate Rounded";
    font-weight: 400;
    color: map-get($colors, secondary);
  }
  .slide-subtitle {
    color: map-get($colors, secondary);
    font-size: 23px;
    line-height: 1em;
    font-weight: 200;
    margin: 0 5px 10px 5px;

  }
  .slide-description {
    font-size: 15px;
    font-weight: 600;
    line-height: 1em;
    margin: 0 10px;
  }
  .slide-action {
    margin: 10px 0;
  }
  .slide-image-wrapper {
    position: relative;
    max-width: 270px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    overflow: visible;
    .slide-image {
      // max-height: 50%;
      max-width: 90%;
      margin: auto;
    }
    .checked {
      position: absolute;
      bottom: -5px;
      width: 50px;
      border: 5px solid map-get($colors, primary);
      border-radius: 50%;
      height: 50px;
      background-color: map-get($colors, secondary);
      left: 50%;
      margin-left: -25px;
      color: map-get($colors, primary);
      font-size: 25px;
      line-height: 46px;
    }

  }


  b {
    font-weight: 500;
  }

  p {
    font-size: 14px;
    // line-height: 1.5;
    color: #fff;

    b {
      font-style: italic;
      color: map-get($colors, secondary);
    }
  }
}
