<!-- Generated template for the Onboarding component -->
<div class="onboarding-content">
  <ion-slides pager #slideshow (ionSlideDidChange)="slideChanged()">
    <ion-slide *ngFor="let slide of slides; let i = index; let isLast = last" >
      <div class="slide-content" padding>
        <div class="slide-title text-center" [innerHTML]="slide.title | translate"></div>
        <div class="slide-image-wrapper">
          <div class="slide-image-background">
            <img src="{{slide.image}}">
          </div>
          <div class="checked" *ngIf="slide.icon">
            <ion-icon name="{{slide.icon}}"></ion-icon>
          </div>

        </div>
        <div class="slide-subtitle text-center" [innerHTML]="slide.subtitle | translate"></div>
        <p class="slide-description" [innerHTML]="slide.description | translate"></p>

        <div *ngIf="isLast">
          <button class="slide-action btn-universal" ion-button block icon-right color="secondary" (click)="continue()">
            {{ 'BEGIN' | translate }}
            <ion-icon name="arrow-forward"></ion-icon>
          </button>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
</div>
