<!--
  Generated template for the LoginForm component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->


<form [formGroup]="loginForm" (ngSubmit)="login()" class="unv-form" novalidate>
  <ion-item>
    <ion-label floating>Correo Electrónico</ion-label>
    <ion-input type="email" formControlName="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Contraseña</ion-label>
    <ion-input type="password" formControlName="password"></ion-input>
  </ion-item>
  <div padding class="text-center">
    ¿Olvidaste tu contraseña? <a (click)="recoverPrompt()">Click aquí</a>
  </div>
  <div padding>
    <button block ion-button type="submit" color="secondary" class="btn-universal" [disabled]="shouldEnableSubmit()">Enviar</button>
  </div>
</form>

