<!--
  Generated template for the RegisterForm component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->


<form [formGroup]="registerForm" (ngSubmit)="register()" class="unv-form" novalidate>
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-item>
          <ion-label floating>Nombre</ion-label>
          <ion-input type="text" formControlName="firstname"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item>
          <ion-label floating>Apellido</ion-label>
          <ion-input type="text" formControlName="lastname"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label floating>Correo</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label floating>Contraseña</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label floating>Confirmar Contraseña</ion-label>
          <ion-input type="password" formControlName="passwordConfirm"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4>
        <ion-item>
          <ion-label floating>Género</ion-label>
          <ion-select formControlName="gender">
            <!-- <ion-option value="">Género</ion-option> -->
            <ion-option value="f">Mujer</ion-option>
            <ion-option value="m">Hombre</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col col-8>
        <ion-item>
          <ion-label floating>Cumpleaños</ion-label>
          <ion-datetime cancelText="{{'CANCEL' | translate}}" doneText="{{'DONE' | translate }}" displayFormat="D MMMM" pickerFormat="DD MMMM YYYY" formControlName="birthday" [(ngModel)]="this.startTime"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>País</ion-label>
          <ion-select formControlName="country">
            <ion-option value="co">Colombia</ion-option>
            <ion-option value="hn">Honduras</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item class="tos-checkbox">
          <ion-label>Acepto los términos y condiciones</ion-label>
          <ion-checkbox color="dark" formControlName="accept_tos" checked="true"></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div padding>
          <button block ion-button type="submit" [disabled]="shouldEnableSubmit()" color="secondary" class="btn-universal">Crear Cuenta</button>
        </div>
        <div padding>
          <button ion-button clear ion-link (click)="tos()">Ver términos y condiciones.</button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
