register-form {

}
.unv-form {

  ion-row {
    padding: 0;
    ion-col {
      padding: 0;
    }
  }


  .label-android, .label-md, .label-ios {
    &[floating] {
      // margin-top: 0 !important;
    }
  }

  .item-label-stacked ion-datetime,
  .item-label-floating ion-datetime {
    padding-bottom: 3px;
    padding-top: 13px
  }

  .item-ios.item-label-stacked,
  .item-android.item-label-stacked,
  .item-ios.item-label-floating,
  .item-android.item-label-floating {
    .text-input {
      margin-top: 0 !important;
    }
  }
  .tos-checkbox {
    .label {
      white-space: normal;
      margin-right: 0;
      margin-top: 10px;
      font-size: 13px
    }
  }

}
.ios {
  .unv-form {
    .ng-invalid.input {
      border-bottom: 1px solid map-get($colors, danger);
    }
  }
}